<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
    Built by <a href="https://webpages.charlotte.edu/ccarchi/">Chris Carchi</a> &copy; 2025
    <br>
    <a href="javascript:void(0);" onclick="document.getElementById('validation_link_html').click();">Validate HTML</a> |
    <a href="javascript:void(0);" onclick="document.getElementById('validation_link_css').click();">Validate CSS</a>
</p>

<a id="validation_link_html" href="https://validator.w3.org/check?uri=referer" style="display:none;">HTML</a>
<a id="validation_link_css" href="https://jigsaw.w3.org/css-validator/check/referer" style="display:none;">CSS</a>
</body>
</html>