<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="styles/default.css">
   
    <title>Document</title>
</head>
<body>
            <h1>Chris Carchi | Couragous Crocodile | ITIS 3135</h1>
        <nav>
            <a href="./index.html">Home</a>
            <a href="introduction.html">Introduction</a>
            <a href="contract.html">Contract</a>
            <a href="website_evaluations.html">WebEvaluation</a>
            <a href="../hobby/index.html">Hobby</a>
        </nav>
</body>
</html>